#home{
    background-color:rgb(183, 253, 253);
    border:2px solid black;
    display: block;
    padding: 10px;
    margin:10px;
    width:50px;
}
h1{
    text-align: center;
    background-color: rgb(241, 106, 106);
    box-shadow: 5px 7px 7px rgb(88, 1, 1);
    margin-top: 50px;
}
img{
    width:600px;
    display:block;
    margin: 10px auto;
}
h2{
    text-align: center;
    background-color: rgb(241, 106, 106);
    box-shadow: 3px 3px 6px rgb(141, 0, 0);
}
h3{
    width:fit-content;
    padding: 5px 10px;
    background-color: rgb(99, 155, 238);
}
li{
    padding: 2px;
}