section{
    width: 400px;
    border: 2px solid brown;
    padding:20px;
    margin: 50px auto;
    background-color: rgba(255, 149, 149, 0.438);
    
}
h1{
    text-align: center;
    background-color: rgba(165, 42, 42, 0.568);
    border-bottom: 1px solid rgb(94, 25, 25);
    box-shadow: 5px 5px 5px;
}

li{
    padding: 10px;
    margin: 20px 0px ;
    font-size: 18px;
     background-color:rgb(207, 137, 137);
     box-shadow: 3px 3px 3px ;
     margin-right: 20px;
      
}